<!DOCTYPE html>
<html>
	<head>
		<title>Table Data</title>
		<script src="jquery.js" type="text/javascript"></script>
		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
		<link rel="stylesheet" href="css/style.css" type="text/css">
	</head>
	<body>
		<div id="header">
			<p>FINE ENERGY</p>
			<ul id="hlink">
				<li><a href="/">Home</a></li>
				<li><a class="active" href="tabledata">Table Data</a></li>
				<li><a href="p_table" class="dropbtn">Pivot Table</a></li>
				<li><a href="visuals">Visualisations</a></li>
				<li><a href="observations">Observations</a></li>
			</ul>
		</div>
		<div id="c-intro">
			<img src="image/list.png" width="200" height="200">
			<h1 id="c-title">
			American: Electrical and Cost Data
			</h1>
			<p id="c-stitle">
			List of Data from all participants in its<br> unprocessed data form.
			</p>
		</div>
		<div id="content">

   
			
			