<!DOCTYPE html>
<html>
	<head>
		<title>Home</title>
		<script src="jquery.js" type="text/javascript"></script>
		<link rel="stylesheet" href="css/style.css" type="text/css">
	</head>
	<body>
		<div id="header">
			<p>FINE ENERGY</p>
			<ul id="hlink">
				<li><a class="active" href="/">Home</a></li>
				<li><a href="tabledata">Table Data</a></li>
				<li><a href="p_table" class="dropbtn">Pivot Table</a></li>
				<li><a href="visuals">Visualisations</a></li>
				<li><a href="observations">Observations</a></li>
			</ul>
		</div>
				<div id = "longcontent">
			<h2>
				Addressing the current, pressing issues at hand today
			</h2>
			<br>
			<img src="image/home-icon.png" width="150" height="150">
			<p id="home-text">
				A rising concern in modern day society is the uprising of new technology.
				From charging your smartphone to laundry machines and from ducted heating to refrigerating, the necessities of having the latest and
				the greatest is ever expanding. However, as we keep asking for more and more demand, is there enough supply?
			</p>
			<br><br><br>
			<p id = "c-body">
				The world is expanding, and from expansion comes resource allocation. However, this means that some more places will require more than others. Let's have a look as to see where we are standing:
			</p>
			<img src="image/home-map.png" width="900" height="400">
			<br><br><br><br><br><br><br><br><br><br><br><br>
			<p id = "img-ref">
				Image sourced from <a href="https://commons.wikimedia.org/wiki/File:Electricity_consumption_per_country_map.PNG" id="img-spec">https://commons.wikimedia.org/wiki/File:Electricity_consumption_per_country_map.PNG</a> [Accessed on 24/05/16]
			</p>
			<p id = "c-body">
				Why is our consumption so high?<br><br>
				What is the contributing factor to this?<br><br> 	
				Most importantly, what can we do about it?<br><br>

				Please browse through our findings to crack down on the importance of energy consumption<br><br><br>

				This website offers the tools and resources to analyse and dig deep and uncover answers<br><br><br>

				Don't know where to get started? Try our Observations!
				<li id="tabl"><a href="observations">Observations</a></li>
			</p>

